/* 'A Leaf' CSS - http://gregdev.net */

body {
	font-size: 10pt;
	font-family: Tahoma,sans-serif;
	color: black;
	text-align: center;
	background:floralwhite;
}

/* content wrapper */

#wrap {
	color: #303030;
	margin: 0 auto;
	width: 750px;
	
}

/* title */

#title {
	padding-top: 20px;
	margin-left: 20px;
	text-align: left;
	color: #ff8040;
	height: 100px;
	background: transparent;
}
#title h1 {
	font-size: 60pt;
	font-weight: normal;
	margin: 0;
}
#title a, a :visited {
	color: #ff8040;
	background: transparent;
}
#title a:hover, a:visited:hover {
	color: #ff723f;
	text-decoration: none;
	background: transparent;
}

/* main content */

#content {
	margin: 10px 0 0 5px;
	padding: 7px;
	line-height: 1.8em;
	text-align: justify;
	width: 575px;
	color: #07294b;
	min-height: 350px;
	background: transparent;
}

h1 {
	font-size: 16pt;
	color:black;
	background: transparent;
}
h2 {
	font-size: 12pt;
		color:black;
	background: transparent;
}

.quote {
	color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background: #b3d686;
	width: 500px;
	margin: 0 auto;
	padding: 5px;
}

#newtip{
    display:none;

}
#quicktip{
    display:none;
    
}

#reviewtable td{
    width: 250px;
}
#reviewtable td:hover{
 background:lightgray;
    font-weight:bolder;
    font-size:larger;
    
}

#summarytable tr:hover{

    background:lightgray;
    font-weight:bolder;
    font-size:larger;

}

#profiletable{
    padding-bottom: 30px;
    width: 300px;
    text-align:left;
    font-size:medium;
    border: 0;
   

    
}
#historytable{
    padding-bottom: 30px;
    width: 400px;
    text-align:left;
    font-size:medium;
    border: 0;
}


th{
    width: 200px;

}


.entry:hover{
    background:white;
    font-weight:bolder;

   
}
/* side menu */

#side {
	padding: 20px;
	line-height: 1.8em;
	width: 90px;
	color: #000000;
	float: right;
	text-align: right;
	font-size: 9pt;
}

#side ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item {
	color: #000000;
	font-size:x-large;
	display: block;
	
	margin: 15px 10px 10px 10px;
	padding-right: 2px;
	opacity: 0.5;

	width: 120px;
	text-transform: uppercase;
}

.item:hover {
    font-size:xx-large;
	text-decoration: none;
}

.itemsub{
	color: black;
	font-size: 0.8em;
	display: block;
	background: #a6da87;
	border: blue 1px solid;
	margin: 5px 5px 0px 15px;
	padding-right: 2px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 85px;
}

.itemsub:hover {
	background: #f0d307;
	text-decoration: none;
}

/* image footer */

#footer {
	background: url(images/foot.gif);
	width: 750px;
	height: 23px;
}

/* bottom stuff (copyright message, etc) */

#bottom {
	font-size: 8pt;
	padding: 15px;
	color: #595d8e;
	line-height: 0.5em;
	background: transparent;
}

#bottom a {
	color: #5994bc;
	text-decoration: none;
	background: transparent;
}

#bottom a:hover {
	text-decoration: underline;
	background: transparent;
}

#bottom img {
	margin: 5px;
	border: 0;
}

/* hyperlinks */

a {
	text-decoration: none;
	color: #1267bc;
	background: transparent;
}

a:hover {
	text-decoration: underline;
	color: black;
	background: transparent;
}



#submit {
	font-size:larger;
	background:paleturquoise;
}

.odd {
        font-size:medium;
	background-color: #E6E6E6;
    }
.even {
        font-size:medium;
	background-color: #fff;
  }


  .odd:hover{

    font-weight:bolder;

}

.even:hover{
     font-weight:bolder;

}