/* 'A Leaf' CSS - http://gregdev.net */

body {
    font-size: 10pt;
    font-family: Tahoma,sans-serif;
    color: black;
    text-align: center;
    background:floralwhite;
}

/* content wrapper */

#wrap {
    color: #303030;
    margin: 0 auto;
    width: 750px;

}

/* title */

#title {
    padding-top: 20px;
    margin-left: 20px;
    text-align: left;
    color: #ff8040;
    height: 100px;
    background: transparent;
}
#title h1 {
    font-size: 40pt;
    font-weight: normal;
    margin: 0;
}
#title a, a :visited {
    color: #ff8040;
    background: transparent;
}
#title a:hover, a:visited:hover {
    color: #ff723f;
    text-decoration: none;
    background: transparent;
}

/* main content */

#content {
    margin: 10px 0 0 5px;
    padding: 7px;
    line-height: 1.8em;
    text-align: justify;
    width: 575px;
    color: #07294b;
    min-height: 350px;
    background: transparent;
}

h1 {
    font-size: 16pt;
    color:black;
    background: transparent;
}
h2 {
    font-size: 12pt;
    color:black;
    background: transparent;
}

.quote {
    color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background: #b3d686;
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

#newtip{
    display:none;
}
#quicktip{
    display:none;
}
#change{
    display: block;
}
#save{
    display: none;
}
#manageCombotip{
    display: none;

}
#manageComboSettip{
    display: none;
}
#managetip{
    display:none;
}
#userstip{
    display:none;
}
#statstip{
    display:none;
}
#newtestname2{
    display:none;
}
#newtestname3{
    display:none;
}
#newtestname4{
    display:none;
}
#reviewtable td{
    width: 250px;
}
#reviewtable td:hover{
    background:lightgray;


}
#testright{ display: none; }
#testright2{ display: none; }

#summarytable {
    padding-bottom: 30px;
    font-size:larger;

}


#summarytable td:hover{

    background:lightgray;


}

#profiletable{
    padding-bottom: 30px;
    width: 400px;
    font-size:medium;
    border: 0;
}

#testimagetable{
    padding-bottom: 30px;
    width: 700px;
    font-size:medium;
    border: 0;
}

#chooseTestTable{
    text-align: left;
    padding-bottom: 30px;
    width: 700px;
    font-size:medium;
    border: 0;    
}

#historytable{
    padding-bottom: 30px;
    width: 350px;
    text-align:left;
    font-size:medium;
    border: 0;
}
#settingtable{
    padding-bottom: 30px;
    width: 600px;
    text-align:left;
    font-size:medium;
    border: 0;
}

#settingtable #delete{
    width: 300px;
    text-align: left;

}



.historytableadmin{
    padding-bottom: 30px;
    width: 800px;
    text-align:left;
    border: 0;
}

.historytableadmin th{
    width: 200px;

}

#profiletable th{

    text-align: right;

}

#profiletable td{
    text-align: left;
    padding-left: 20px;

}

th{
    width: 200px;


}


.entry:hover{
    background:white;
    font-weight:bolder;


}
/* side menu */

#side {
    padding: 20px;
    line-height: 1.8em;
    width: 90px;
    color: #000000;
    float: right;
    text-align: right;
    font-size: 9pt;
}

#side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    color: #000000;
    font-size:x-large;
    display: block;

    margin: 15px 10px 10px 10px;
    padding-right: 2px;
    opacity: 0.5;

    width: 230px;
    text-transform: uppercase;
}

.item:hover {
    font-size:xx-large;
    text-decoration: none;
}

.itemsub{
    color: black;
    font-size: 0.8em;
    display: block;
    background: #a6da87;
    border: blue 1px solid;
    margin: 5px 5px 0px 15px;
    padding-right: 2px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 85px;
}

.itemsub:hover {
    background: #f0d307;
    text-decoration: none;
}

/* image footer */

#footer {
    background: url(images/foot.gif);
    width: 750px;
    height: 23px;
}

/* bottom stuff (copyright message, etc) */

#bottom {
    font-size: 8pt;
    padding: 15px;
    color: #595d8e;
    line-height: 0.5em;
    background: transparent;
}

#bottom a {
    color: #5994bc;
    text-decoration: none;
    background: transparent;
}

#bottom a:hover {
    text-decoration: underline;
    background: transparent;
}

#bottom img {
    margin: 5px;
    border: 0;
}

/* hyperlinks */

a {
    text-decoration: none;
    color: #1267bc;
    background: transparent;
}

a:hover {
    text-decoration: underline;
    color: black;
    background: transparent;
}



#submit {
    font-size:larger;
    background:paleturquoise;
}

.odd {
    font-size:medium;
    background-color: #E6E6E6;
}
.even {
    font-size:medium;
    background-color: #fff;
}




.loginpage{


    padding-top: 150px;
    font-size: larger;


}

.loginpage th{

    width: 100px;
    text-align:left;
    font-size:larger;
}
.loginpage h1{

    font-size: 40px;
}
#testimagearea{
    display: none;
}


#testinputarea{
    display: none;
}

.useranswer{
    
}
.loginpage input{ font-family: Arial, verdana; font-size:100%; padding: 7px; }
#summarytable  input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 150px;}
#chooseTestTable  input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 150px;}
#chooseTestTable  select{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 350px;}
#profiletable input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 150px;}
input#showimgbutton{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 150px;}
#profiletable select{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 118px;}
#settingtable  input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 100px;}
#testimagetable  input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 100px;}
#progressbar{
    font-family: Arial, verdana; font-size:larger; padding: 7px;
    text-align: center;
    display: none;
}
#deletebutton{display: none;}
div.title{text-align: left; font-family: Arial, verdana;font-size:x-large; padding: 7px; }
#testType th{text-align: right;padding-right: 20px}
#testType td {text-align: left}
#testType input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 120px;}
#testType select{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 120px;}
table#combos th{text-align: right;padding-right: 20px}
table#combos td{text-align: left}
table#colorCombo td{text-align: right;padding-right: 20px}
table#colorCombo input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 120px;}
#addnewimage{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 120px;}
div.currentcolourset{display: none}
input#changeset{font-family: Arial, verdana; font-size:100%; padding: 7px; width: 200px;}
table#generateshape input{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 120px;}
table#generateshape select{ font-family: Arial, verdana; font-size:100%; padding: 7px; width: 120px;}
table#generateshape td{text-align: left }