



body {

	margin: 0px;

	padding: 0px;

	background: #B4F4FF url(images/img01.jpg) repeat-x left top;

	line-height: 25px;

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

	font-size: 12px;

	color:#003;

}



h1, h2, h3, h4 {



	margin: 0px;

	padding: 0px;

	font-weight: normal;

	color: #337884;

}



h1 { font-size: 44px; }



h2 { font-size: 20px; }



h3 {

text-align:center;

padding-top:100px;

 font-size:30px; }

 

h4{

text-align:center;

padding-top:50px;

font-size: 15px;

}

p, ul, ol {

	margin-top: 0;

	text-align: justify;

	font-weight: normal;

}



ul, ol {

	margin: 0px;

	padding: 0px;

	list-style: none;

}



blockquote { }



a { color: #80A000; }



a:hover { text-decoration: none; }



a img {

	border: none;

}



img.left {

	float: left;

	margin: 7px 30px 0 0;

}



img.right {

	float: right;

	margin: 7px 0 0 30px;

}



hr { display: none; }



.list1 {

}



.list1 li {

	float: left;

	line-height: normal;

}



.list1 li img {

	margin: 0 30px 30px 0;

}



.list1 li.alt img {

	margin-right: 0;

}



#wrapper {

	width: 100%;

}



/* Header */



#header-wrapper {

	width: 900px;

	height: 143px;

	margin: 0px auto;

	padding: 0px;

}



#header {

	width: 900px;

	height: 92px;

	margin: 0px auto;

	background: url(images/img02.gif) no-repeat left top;

}



/* Logo */



#logo {

	float: left;

	height: 52px;

	margin: 0px auto;

	padding: 40px 0px 0px 0px;

}



#logo h1 {

	float: left;

	margin: 0;

	padding: 0px 0px 0px 40px;

	letter-spacing: -1px;

	

	font: bold 34px "Trebuchet MS", Arial, Helvetica, sans-serif;

}



#logo h1 a {

	color: #FFFFFF;

}



#logo h2 {

	float: left;

	padding: 10px 0px 0px 20px;

	letter-spacing: -1px;

	

	font-size: 14px;

	color: #E4EEB3;

}



#logo a {

	text-decoration: none;

	color: #E4EEB3;

}



/* Menu */



#menu {

	width: 900px;

	height: 51px;

	margin: 0px auto;

	padding-left: 40px;

	background: url(images/img03.jpg) no-repeat left top;

}



#menu ul {

	margin: 0px;

	padding: 0px;

	list-style: none;

}



#menu li {

	float: left;

}



#menu a {

	display: block;

	padding: 12px 20px 0px 22px;

	letter-spacing: -1px;

	text-decoration: none;

	text-transform: lowercase;

	font-size: 20px;

	font-weight: normal;

	color: #D7E6A2;

}



#menu a:hover {

	text-decoration: underline;

}



#menu .first a {

	background: none;

	padding-left: 0px;

}





/* Search */



#search {

	float: right;

	width: 235px;

	padding: 50px 40px 0px 0px;

}



#search form {

	margin: 0 20px 0 0;

}



#search fieldset {

	margin: 0;

	padding: 0;

	border: none;

	margin: 0 20px 0 0;

}



#search input {

	float: left;

}



#search-text {

	width: 235px;

	height: 22px;

	padding: 3px 0px 0px 26px;

	background: url(images/img10.jpg) no-repeat left top;

	border: none;

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

	color: #E4EEB3;

}





#teamDiv1 {

	position:inherit;

	margin:auto;

	

	width:150px;

	height:180px;

	z-index:1;

}

#teamDiv2 {

	position:inherit;

	margin:auto;

	width:150px;

	height:50px;

	z-index:1;

}





/* Page */



#page {

	width: 870px;

	margin: 0px auto;

	border: 15px solid #FFFFFF;

	background: #FFFFFF url(images/img04.gif) repeat-x left top;

}

#page-messages {

	width: 870px;

	margin: 100px auto;

	border: 15px solid #FFFFFF;

	background: #FFFFFF url(images/img04.gif) repeat-x left top;

}



#page-academic {

	width: 870px;

	margin: 100px auto;

	border: 15px solid #FFFFFF;

	background: #FFFFFF url(images/img04.gif) repeat-x left top;

}



#page-bgcontent {

	padding: 40px 25px 0px 25px;

	background: url(images/img04.gif) repeat-x left top;

}

#page-aim-bgcontent {

	padding: 140px 25px 0px 25px;

	background: url(images/img04.gif) repeat-x left top;

}



/* Content */



#content {

	float: left;

	width:100%;

}



#contentDocu {

	float: left;

	width: 800px;

}

#content-title {



	text-align:left;



	padding-bottom:10px;

	width:600px;

	margin:0px auto;

	

}



#content-aim {



	text-align:left;

	padding-top:10px;

	width:700px;

	margin:0px auto;

	font-size:larger;

	

}



#banner {

	width: 870px;

	margin: 0px auto;

	padding-bottom: 5px;

}



/* Post */



.post {

	margin-bottom: 25px;

}



.post .title {

	padding: 26px 0px 0px 0px;

	letter-spacing: -1px;

/*	text-transform: lowercase; */

	font-size: 34px;

	font-weight: normal;

}



.post .title h2 {

	margin: 0px;

	padding: 0px;

}



.post .byline {

	padding-top: 6px;

	letter-spacing: -1px;

	font-size: 20px;

	color: #74C6D5;

}

.miutesbyline{

	padding-top: 15px;

	letter-spacing: 0px;

	font-size: 15px;

	}

.post strong {

	font-size: 14px;

	color: #337884;

}



.post .meta {

	height: 32px;

	padding-top: 6px;

	padding-left: 25px;

	background: url(images/img06.jpg) repeat-x left top;

}



.post .meta a { }



.post .entry {

	padding: 0px 0px 20px 0px;

}



.post .links {

	padding: 0px 30px 0px 0px;

}



.post .links .comments {

	padding-left: 20px;

	background: url(images/img07.gif) no-repeat left 3px;

}



.post .links .permalink {

	padding-left: 17px;

	background: url(images/img08.gif) no-repeat left 3px;

}



/* Sidebar */



#sidebar {

	float: right;

	width: 238px;

}



#sidebar ul {

	margin: 0px;

	list-style: none;

	line-height: normal;

	border: none;

}



#sidebar li {

	margin-bottom: 30px;

}





#sidebar li li {

	margin: 0;

	padding: 7px 0px;

	background: url(images/img09.jpg) repeat-x left bottom;

}



#sidebar p {

	margin: 0;

}







#sidebar p {

	line-height: 200%;

	padding-bottom: 20px;

}



#sidebar a {

}





/* Footer */



#footer {

	height: 100px;

	margin: 0px auto;

	padding: 0px;

	background: url(images/img04.gif) repeat-x left top;

}



#footer p {

	margin: 0;

	padding: 30px 0;

	text-align: center;

	font-size:15px;

	

	line-height: normal;

	font-size: 12px;

	color:#060;

}



#footer a {

	color: #A2CAD1;

}



#table-message{

	margin: 10px auto;



}



th{

	width:100px;

	text-align:left;

	font-size:18px;

	border: 1px solid thick;

}

td{

	vertical-align:top;

	

	}

	

#th-download{

	width:200px;

	}

#th-subject{

width:400px;



}

#th-version{

width:150px;



}

#tr-record{

	text-align:left;

font-size:16px;

color: #74C6D5;

font-weight:bold;

}





input.button{

	background:bottom;

	font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;

	color: #337884;

}

#back{

	text-align:center;

	

	}

#mail{
	font-weight:bolder;

	color:#F00;

	

	}

.assignmentPoint{

font-size:20px;

color:#FF0000;

}
#testImgDiv {
	position:absolute;
	left:481px;
	top:92px;
	width:332px;
	height:332px;
	z-index:1;
}
#answerDiv {
	font-size:24px;
	font-weight:bolder;
	position:absolute;
	left:481px;
	top:430px;
	width:614px;
	height:71px;
	z-index:2;
}


#demoPage {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	font-size:36px;
	top:105px;
	width:425px;
	height:57px;
}
#incorrect{
        position:relative;
	margin-left:auto;
	margin-right:auto;
	font-size:26px;
	top:100px;
	width:425px;
	height:57px;
    
}

#login{
	position:relative;
	font-size:20px;
	top:125px;
	margin-left:auto;
	margin-right:auto;

	}
#try{
	margin-top:10px;


	}
