table.viewuser {
	margin: 0 auto;
	clear: both;
	width: 500px;
}

table.viewuser tbody{
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight:bolder;
        font-size:xx-large;
	cursor: pointer;

}

table.viewuser tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.viewuser tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.viewuser td {
      font-size:xx-large;
	padding: 3px 10px;
}

table.viewuser td.center {
	text-align: center;
}

table.viewuser tr:hover{
     font-weight:bolder;

}

table #adminreview{
    
 
    
}